<div class="row">
  <div class="col-md-4 mail-white"><%= image_tag('M_icon.svg', :class => "icon") %></div>
  <div class="col-md-4 linkedin-blue"><%= image_tag('L_icon.svg', :class => "icon") %></div>
  <div class="col-md-4 insta-brown"><%= image_tag('I_icon.svg', :class => "icon") %></div>
</div>

<div class="row">
<div class="footer">
	<p class="footer-button">Design makes perfection</p>
</div>
</div>
