<%= render "home/header" %>
<div class="row">
<div class="white-container col-xs-12">
	<h1>About this website</h1>
	<p>The purpose of this website is for me to showcase some projects I participated in, led or worked on by my own. I also want to share my work experience and positions of trust for you to get an idea of my dedication to my work. All images on this site are captured by me.</p>
</div>
<div class="white-container col-xs-12">
	<h3>Technical specifications </h3>
	<p>While developing this website I have used Ruby on Rails that is a tool perfect for web development. Twitter Bootstrap is used for visual effects and looks, Heroku is used for deployment.</p>
</div>
</div>
<%= render "home/footer" %>