<%= render "home/header" %>

<div class="white-container col-xs-12">
	<h1>About this website</h1>
	This website is completely made using Ruby on Rails. Twitter Bootstrap is used for visual effects and looks, Heroku is used for deployment.
</div>

<%= render "home/footer" %>