<%= render "home/header" %>
<div class="row">
<div class="white-container col-xs-12">
	<h1>About this website</h1>
	<p>This website is completely made using Ruby on Rails. Twitter Bootstrap is used for visual effects and looks, Heroku is used for deployment.</p>
</div>
</div>
<%= render "home/footer" %>