<%= render "home/header" %>
<div class="row">
<div class="white-container col-xs-12">
	<h1>About</h1>
</div>
<div class="white-container col-xs-12">
	<h3>Ginger Apps</h3>
	<p>Ginger Apps is a Swedish company producing games and other apps for iOS.</p>
</div>

<div class="white-container col-xs-12">
	<h3>Founder</h3>
	<p>Ginger Apps was founded in August 2016 by Felix Hedlund, a Master of Science engineer from the prestigious Lund University in the south of Sweden.</p>
</div>

</div>
<%= render "home/footer" %>