<%= render "home/header" %>
<div class="row">
<div class="white-container col-xs-12">
	<h1>Contact</h1>
</div>
<div class="white-container col-xs-12">
	<h3>Contact information</h3>
	<p>Felix Hedlund</p>
	<p>Råbyvägen 15K LGH 1303</p>
	<p>22457 LUND</p>
	<p>SWEDEN</p>
</div>
</div>

<%= render "home/footer" %>