<%= render "home/header" %>
<div class="row">
<div class="white-container col-xs-12">
	<h1>Welcome!</h1>
</div>

<div class="white-container col-xs-12">
	<h3>About me </h3>
	<p>My name is Felix, I am 22 years old and taking my Master of Science degree in Information and Communication technology at Lund Faculty of Engineering in Sweden. I specialize in usability and design and while I do enjoy being a designer I am also a decent programmer and like to take on projects of both areas. Currently I am in my fourth year (out of five) but studying in a faster pace and plan on being ready for my degree project summer of 2015.</p>
</div>
<div class="white-container col-xs-12">
	<h3>Exchange student </h3>
	<p>Autumn of 2013 I was studying in Hangzhou, China. I loved being able to communicate in such a foreign language and China truly is beautiful. My travels in China explains the header of this website, it is definetely a place worth visiting if you want to take beautiful pictures! I would like to work in a place like Shanghai for a while in the future, that city is amazing. </p>
</div>

</div>
<%= render "home/footer" %>