<%= render "home/header" %>
<div class="row">
<div class="white-container col-xs-12">
	<h1>Welcome!</h1>
</div>

<div class="white-container col-xs-12">
	<h3>Ginger Apps</h3>
	<p>Ginger Apps produces games and other apps for iOS.</p>
</div>

<div class="white-container col-xs-12">
	<h3>From the Author</h3>
	<p>My name is Felix Hedlund, a Master of Science engineer from the prestigious Lund University in the south of Sweden. At 23 years old I graduated early from my program in September 2015 and since then I have been an iOS developer at Tactel AB, a Panasonic company. Ginger Apps is my on the side project where I can put my own ideas and inventions into real apps on the App Store. I am interested in UX design, Front-end development, Equality and LGBTQ rights.</p>

	<p>I have worked as an Android developer, Ruby on Rails developer and most recently as an iOS developer which I quite enjoy. I took a semester in Hangzhou near Shanghai to study Chinese, one of the best and most learning experience of my life. I also pursued my thesis work in San Fransisco where I researched personality in mobile applications and developed an iOS prototype app.</p>

</div>

</div>
<%= render "home/footer" %>