<%= render "home/header" %>
<div class="row">
<div class="white-container col-xs-12">
	<h1>Projects</h1>
</div>

<!-- Swimulator -->
<div class="container white-container col-xs-12">
	<h3>DrawCollab | Spring 2016</h3>
	<p>This collaborative drawing game let you and your friends draw together or play games like Tic-Tac-Toe by synching your iOS devices using bluetooth or Wi-fi if you're on the same network.</p>
	<div style="text-align: center;">
	  <%= image_tag('DrawCollabGame.jpg', :class => "img-responsive", :style => "max-height: 500px; display:inline;") %>
	</div>
</div>


<!-- Game for iOS -->
<div class="container white-container col-xs-12">
	<h3>Spheres - Celestial | Spring 2015</h3>

	<!--<div style="text-align: center;">
	  <%= image_tag('Spheres.png', :class => "img-responsive", :style => "max-height: 400px; display:inline;") %>
	</div> -->

	<p>Avoid the dark spheres, collect the colored ones. Collect one of each color and become invincible! Compete with your friends and try to get the highest score in this never ending game of Spheres - Celestial!</p>

	<div class="video-container">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="//www.youtube.com/embed/tcipBR2svrI" allowfullscreen></iframe>
		</div>
	</div>
</div>

</div>
<%= render "home/footer" %>