// control the screen sizes
$screen-xs-min: 300px;
$screen-sm-min: 400px;
$screen-sm-max: 960px;
$screen-md-min: 960px;
$screen-lg-min: 1200px;
$screen-custom-min: 960px;

// this tells which screen size to use to start breaking on
// will tell navbar when to collapse
$grid-float-breakpoint: $screen-custom-min;
 //*= require twitter/bootstrap
@import "bootstrap";
@import "bootstrap-sprockets";

$padding-main: 10px;
$padding-button: 10px;
$padding-mini-button: 3px;

$margin-main: $padding-main;

$color-red: #b66b5c;
$color-blue: #8a9eb2;
$color-dark: #202020;
$color-light: #ecf0f1;
$color-yellow: #eccd3c;
$color-gray: #d8d8d8;
$color-green: #7bcaad;
$color-shadow: rgba(0, 0, 0, 0.25);


@font-face {

  font-family: 'Futura';
  src: font-url(asset_path('FuturaBT-Bold.eot?')) format('eot'),
     font-url(asset_path('FuturaBT-Bold.woff')) format('woff'),
     font-url(asset_path('FuturaBT-Bold.ttf'))  format('truetype'),
     font-url(asset_path('FuturaBT-Bold.svg#FuturaBT-Bold')) format('svg');

  font-weight: bold;
  font-style: normal;

}

@font-face {

  font-family: 'Robot!head';
  src: font-url(asset_path('robothead.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face{
font-family: 'Glyphicons Halflings';
background-image:url(asset_path("logo.png"));
  src: url(asset_path("glyphicons-halflings-regular.eot"));
  src: url(asset_path("glyphicons-halflings-regular.eot?#iefix")) format('embedded-opentype'), url(asset_path("glyphicons-halflings-regular.woff")) format('woff'), url(asset_path("glyphicons-halflings-regular.ttf")) format('truetype'), url(("glyphicons-halflings-regular.svg#glyphicons_halflingsregular")) format('svg');
}

$font-header: Futura, railway, sans-serif;
$font-text: "Helvetica-light", "Arial", sans-serif;
$font-profile: "HelveticaNeue-thin", "Helvetica-light", "Arial", sans-serif;

$distance-shadow: 6px;

$height-navbar: 75px;
$height-headerbar: 50px;
$height-rowblocks: $height-headerbar;
$height-logotype: 130px;
$height-message: 180px;
$height-footer: 394px;

//customized to this size.
$height-button: 40px;
$height-flash: 50px;

$size-profile-image: 48px;

$fontsize-headerbar: 20px;

//you'll have to change these manually if any of the variables above is changed (size and position properties).
$margin-navbar: 18px;
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

html {
    height: 100%;
    font-family: $font-text;
    body {
        min-height: 100%;
        background-color: $color-light;
        //the main background.
        //padding-bottom: $padding-main * 2;
        a {
            .bold{
                font-weight: bold;
            }
        }

        .col-md-4{
            text-align: center;
            height: 300px;
            &.linkedin-blue{
                background-color: #007bb6;
            }
            &.mail-white{
                background-color: #b5b5b5;
            }
            &.insta-brown{
                background-color: #d0bcad;
            }
        }

        .col-md-6{
            text-align: center;
            height: 300px;
        }
        .project-image{
            width: auto;
            max-width: 480px !important;
        }


        .icon{
            
            height: 100px;
            @include vertical-align;
        }


        .video-container{
            margin: 0 auto;
            max-width: 768px;
        }
        .container-carousel{
            margin: 0 auto !important;
            width: 100% !important;
            height: 350px !important;
        }

        .wrapper {
            min-height: 100% !important;
            height: auto !important;
            height: 100%;
            margin: 0 auto 0px !important;
        }
        .push {
            height: $height-footer;
            clear:both;
        }
        .footer {
            height: $height-footer;        //margin-top: -155px; /* negative value of footer height */
            clear:both;
            background-color: #767575;
            text-align: center;

        } 

        .navbar {
            height: $height-navbar;
            border: none;
            border-radius: 0px;
            background-color: $color-blue;
            box-shadow: 0 $distance-shadow 0 $color-shadow;
            margin-bottom: 40px;
            z-index: 1;
            ul.nav {
                li {
                    text-align: center;
                    margin: $margin-navbar $margin-main 0 $margin-main;
                    a {
                        color: $color-red;
                        padding: $padding-main;
                        &:hover {
                            background-color: white;
                            color: $color-red;
                        }
                    }
                }
            }
            .navbar-toggle {
                line-height: $height-navbar;
                padding: 0 $padding-main * 4 0 0;
                margin: 0 0 0 0;
                border: none !important;
                border-radius: 0 0 0 0 !important;
                box-shadow: none;
                &:hover,
                &:focus {
                    background-color: transparent;
                }
            }
        }

        .navbar-bottom {
            height: $height-navbar;
            border: none;
            border-radius: 0px;
            background-color: $color-blue;
            box-shadow: 0 $distance-shadow 0 $color-shadow;
            margin-bottom: 0px !important;
            z-index: 1;
            ul.nav {
                li {
                    text-align: center;
                    margin: $margin-navbar $margin-main 0 $margin-main;
                    a {
                        color: $color-red;
                        padding: $padding-main;
                        &:hover {
                            background-color: white;
                            color: $color-red;
                        }
                    }
                }
            }
            .navbar-toggle {
                line-height: $height-navbar;
                padding: 0 $padding-main * 4 0 0;
                margin: 0 0 0 0;
                border: none !important;
                border-radius: 0 0 0 0 !important;
                box-shadow: none;
                &:hover,
                &:focus {
                    background-color: transparent;
                }
            }
        }
    }
}

#logotype {
    img {
        position: absolute;
        z-index: 2;
        height: $height-logotype;
        width: auto;
        $middle-margin: ($height-navbar - $height-logotype) / 2;
        margin: $middle-margin 40px 0 20px;
    }
    img:hover{
        opacity: 0.8;
    }
}



#bs-example-navbar-collapse-1 {
    background-color: $color-blue;
    border-top: none;
    z-index: 1;

}

p.footer-button {
    font-family: $font-header !important;
    display: inline-block;
    background-color: transparent;
    color: white !important;
    text-transform: uppercase;
    padding: $padding-button;
    border: solid;
    border-color: white;
    text-align: center !important; 
    outline: none;
    //margin-top: $distance-shadow * -1;
    text-decoration: none;
    border-width: 5px;
    border-radius: 0;
    font-size: 40px !important;
    @include vertical-align;
}

//refactored stylesheet
button,
.button,
.btn,
input[type="submit"],
.block {

    display: inline-block;
    font-family: $font-header;
    background-color: transparent;
    color: white !important;
    text-transform: uppercase;
    padding: $padding-button;
    border: solid;
    border-color: white;
    text-align: center;
    outline: none;
    margin-top: $distance-shadow * -1;
    text-decoration: none;
    border-width: 5px;
    border-radius: 0;

    &.fill { width: 100%; }
    &.mini {
        font-size: 10px;
        padding: $padding-mini-button;
        box-shadow: 0 ($distance-shadow / 2) 0 $color-shadow;
    }

    &.green {
        background-color: $color-green;
        color: white;
    }
    &.blue {
        background-color: $color-blue;
        color: white;
    }
    &.light-blue {
        background-color: lighten($color-blue, 10%);
        color: white;
    }
    &.red {
        background-color: $color-red;
        color: white;
    }
    &.yellow {
        background-color: $color-yellow;
        color: white;
    }
    &.gray { background-color: $color-light; }
    &.white { background-color: white; }

    &.invisible {
        background-color: transparent;
        box-shadow: none;
        visibility: visible !important;
    }
    &.left { text-align: left; }

}

button,
.button,
.btn,
input[type="submit"] {
    font-size: 16px;
    &:hover {
        

    }
    &.red:hover,
    &.blue:hover,
    &.green:hover,
    &.yellow:hover { color: white; }
    &:active {
        opacity: 0.8;
        box-shadow: none;
    }
}
div.block { margin-bottom: 0 !important; }
.navbar-button{
    &:hover {
        background-color: $color-red !important; 
    }
}
textarea {
    font-family: $font-text;
    width: 100%;
    padding: $padding-main * 2;
    margin: $margin-main 0;
    outline: none;
    border: none;
    box-shadow: 0 $distance-shadow 0 $color-shadow;
    background-color: $color-light;
    height: 350px;
    font-size: 15px;

    &.white { background-color: white; }
    &:focus { box-shadow: none; }
}

input {

    &[type="text"],
    &[type="input"],
    &[type="number"],
    &[type="email"],
    &[type="password"],
    &[type="tel"] {
        font-family: $font-text;
        width: 100%;
        padding: $padding-main * 2;
        margin: $margin-main 0;
        outline: none;
        border: none;
        box-shadow: 0 $distance-shadow 0 $color-shadow;
        background-color: $color-light;
        &.elastic { width: auto; }
        &.error-message { color: white; }

        &:focus { box-shadow: none; }
    }

    &[type="radio"] {
        &.radio_snalla {
            background-repeat: no-repeat;
            background-position: center center;
            background-color: transparent;
            background-size: 16px auto;
            border: none;
            outline: none;
            -webkit-appearance: none;
            background-image: url("../assets/star-inactive.svg");
            &:checked {
                background-image: url("../assets/star-active.svg");
            }
        }
    }

    &[type="checkbox"] {

    }

    &[type="checkbox"],
    &[type="radio"] {
        height: 20px;
        width: 20px;
        box-shadow: none !important;
    }

}

ul,
ol {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.dropdown {

    $_HEIGHT_HEADER:50px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none; //the header will be selected as text otherwise.

    &.toggled {
        //if the bar is active.
        & > ul.nav {
            display: block;
            background-color: $color-yellow;
            padding: 0 $padding-main;
            li {
                min-height: $height-rowblocks;
                font-size: 0;
                //dirty hack to remove white-space
                text-align: center;
                margin-bottom: $margin-main;
            }
        }
    }
    h3 { line-height: $_HEIGHT_HEADER; }
    & > .header {
        height: $_HEIGHT_HEADER;
        line-height: $_HEIGHT_HEADER;
        background-color: $color-yellow;
    }
    & > ul.nav {
        display: none;
    }

}

img {
    &.shadow { box-shadow: 0 $distance-shadow 0 $color-shadow; }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-header;
    text-transform: uppercase;
    padding-left: 15px;
    &.inline {
        margin: 0 0 0 0;
    }
    &.center { text-align: center; }
    &.regular { text-transform:none; }

}
p {
    font-family: $font-text;
    padding-left: 15px;
    font-size: $fontsize-headerbar;
    color: black;
    margin-top: 0px;
    text-transform: none;
    text-align: left;
    &.alert,
    &.notice {
        cursor: n-resize;
        $width: 320px;
        font-family: $font-header;
        opacity: 0.95;
        z-index: 10000 !important;
        position: fixed;
        top: 0px;
        left: 50%;
        max-width: $width;
        line-height: $height-flash * 0.75;
        padding: 0 $padding-main;
        margin: 0 0 0 -1 * ($width / 2 - $padding-main / 2);
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        border: none !important;
        border-radius: 0;
        //border-radius: 0 0 5px 5px !important;
        box-shadow: 0 $distance-shadow 0 $color-shadow;
    }
    &.alert {
        background-color: $color-red !important;
        color: white;
    }
    &.notice {
        background-color: $color-yellow !important;
        color: black !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    &.blue { color: $color-blue; }
    &.yellow { color:$color-yellow; }
    &.red { color:$color-red; }
    &.light { color:$color-light; }
    &.dark { color:lighten(black, 25%); }
}

a {
    color: inherit;
    font-weight: bold;
    &:hover { color: inherit;}

    img { border: none; }

}

.white-container,
.block-container {
    color: $color-red;
    background-color: white;
    box-shadow: 0 $distance-shadow 0 $color-shadow;

    //remove margin and padding in the future.
    margin-bottom: $margin-main * 2;
    padding: $padding-main;
    &.yellow,
    .yellow-background {
        color: black;
        background-color: $color-yellow;
        padding-top: 0;
    }
    .notice {
        //remove padding and margin in the future.
        padding-top: 0px;
        margin-top: 10px;
        background-color: $color-yellow;
    }
    h1, h2, h3, h4, h5, h6 { //otherwise, the text will karateslap your eyes out of your skull.
        &.light { color: lighten(black, 25%); }
    }
}